$primary-color: #3498db;
$bg-color: white;
$text-color: #434343;


.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem;
  background-color: $bg-color;

  .logo {
    flex-grow: 1; 
    text-align: center; 
    font-size: 1.5rem;
    font-weight: bold;
  }
  .nav{
    margin: 0px 50px;
    padding: 40px;
  }
  .padding{
    padding-left: 40px;
  }
  .action {
    button {
      background-color: $primary-color; 
      color: $text-color; 
      padding: 0.5rem 1rem; 
      border: none; 
      border-radius: 0.5rem; 
      cursor: pointer; 
      transition: background-color 0.3s; 
      margin: 0px 50px;
      &:hover {
        background-color: darken($primary-color, 10%); 
      }
    }
  }
  .btn{
    margin-left: 10px;
    padding-left: 20px;
  }
  .btn:hover{
    color: blue;
  }
}

